---
# Only the main Sass file needs front matter (the dashes are enough)
---
$break-small: 600px;
$break-large: 1200px;

// Font variables
$font-name: "nexascript";
$font-path-file-name: {{ baseurl }}/assets/fonts/nexascript_regular_macroman/nexascript-regular-webfont;

// font_name font
@font-face {
  font-family: $font-name;
  src: url($font-path-file-name+'.eot'); /* IE9 Compat Modes */
  src: url($font-path-file-name+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url($font-path-file-name+'.woff2') format('woff2'), /* Super Modern Browsers */
       url($font-path-file-name+'.woff') format('woff'), /* Pretty Modern Browsers */
       url($font-path-file-name+'.ttf')  format('truetype'), /* Safari, Android, iOS */
       url($font-path-file-name+'.svg#font_name') format('svg'); /* Legacy iOS */
}

html {
  height: 100%;
}

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  line-height: 1.75;
  font-size: 1.1rem;
  font-weight: 100;

  background: linear-gradient(270deg, #8b5fda, #4ab0f0);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    &:hover {
      color: #53bcff;
    }
  }
}

.inner {
  max-width: 90%;
  margin: 0 auto;
  @media screen and (min-width: $break-small) {
    max-width: 40%;
  }
}

h2 {
  font-family: nexascript;
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.fa {
  display: inline-block;
  padding: 4px;
}

.site-logo {
  display: inline-block;
  float: left;
  padding-top: 12px;
  margin-right: 12px;
}
