<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.class }} site">
    <div class="site-content m-scene" id="site-content">
      <div class="inner">

        <div class="page-content scene_element scene_element--content">
          <img src="/assets/images/logo.png" alt="LOGO" class="site-logo" />
          {{ content }}
          <p><a href="https://github.com/sean3325"><i class="fa fa-github fa-lg"></i></a>
          <a href="https://www.linkedin.com/in/seanwolfedesign"><i class="fa fa-linkedin fa-lg"></i></a>
          <a href="mailto:sean3325@gmail.com"><i class="fa fa-envelope fa-lg"></i></a></p>
        </div>

      </div>
    </div>

  </body>

</html>
